<div class="flex min-h-screen bg-slate-100">
  <!-- SIDEBAR con routerLink -->
  <nav
    class="p-5 bg-white shadow-[2px_0_4px_rgba(0,0,0,0.1)] w-[250px] max-md:w-[70px] max-sm:fixed max-sm:bottom-0 max-sm:z-10 max-sm:p-2.5 max-sm:w-full max-sm:h-auto">
    <h1 class="mb-10 text-2xl text-slate-700 max-md:text-base">GMV Admin</h1>
    <div class="flex flex-col gap-4 max-sm:flex-row max-sm:justify-around">
      <a routerLink="/admin" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        Panel
      </a>
      <a routerLink="/admin/usuarios" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        Usuarios
      </a>
      <a routerLink="/vehiculo" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        Vehículos
      </a>
      <a routerLink="/admin/vehiculos/nuevo" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        Registrar Vehículo
      </a>
      <a routerLink="/admin/vehiculos/1/seguros" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        Seguros
      </a>
      <a routerLink="/admin/vehiculos/1/itv" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        ITV
      </a>
      <a routerLink="/admin/configuracion" routerLinkActive="text-blue-600 font-semibold"
        class="flex gap-2.5 items-center p-3 rounded-lg cursor-pointer text-slate-500 hover:bg-slate-100 hover:text-slate-800">
        Configuración
      </a>
    </div>
  </nav>

  <!-- CONTENIDO CAMBIANTE SEGÚN RUTA -->
  <main class="flex-1 p-8 max-sm:pb-20">
    <router-outlet></router-outlet>
  </main>
</div>
