
<button
routerLink="/"
class="text-white bg-gray-500 hover:bg-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
>
Back
</button>

<div
class="container bg-white border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 p-10"
>
<h2 class="text-4xl font-bold dark:text-white">Task List</h2>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="flex">
    <input
      formControlName="title"
      #taskInput
      type="text"
      placeholder="Title..."
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/4 p-2.5 mr-2 mb-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />

    <p
      *ngIf="
        taskForm.get('title')?.hasError('required') &&
        taskForm.get('title')?.touched
      "
      class="text-red-500 text-sm"
    >
      El título es obligatorio.
    </p>
    <p
      *ngIf="
        taskForm.get('title')?.hasError('minlength') &&
        taskForm.get('title')?.touched
      "
      class="text-red-500 text-sm"
    >
      El título debe tener al menos 3 caracteres.
    </p>

    <button
      type="submit"
      [disabled]="taskForm.invalid && taskForm.touched"
      [ngClass]="{ 'disabled:opacity-50': taskForm.invalid }"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 h-full"
    >
      Add?
    </button>
  </div>
</form>

<ul
  *ngIf="tasks.length > 0; else noTasks"
  class="space-y-4 w-full max-w-xs md:max-w-sm lg:max-w-md"
>
  <div class="flex items-center mb-2">
    <h2 class="text-2xl font-bold dark:text-white">Created At</h2>
    <button
      (click)="orderByCreatedAt('ASC')"
      class="flex items-center justify-center pl-4 hover:scale-110 rounded-md"
      [class.font-bold]="currentOrder === 'ASC'"
      [class.text-blue-500]="currentOrder === 'ASC'"
    >
      ⬆️
    </button>
    <button
      (click)="orderByCreatedAt('DESC')"
      class="flex items-center justify-center ml-1 hover:scale-110 rounded-md"
      [class.font-bold]="currentOrder === 'DESC'"
      [class.text-blue-500]="currentOrder === 'DESC'"
    >
      ⬇️
    </button>
  </div>
  <li
    *ngFor="let task of tasks"
    class="flex items-center justify-between p-3 text-base font-bold text-black-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-600 dark:text-white"
  >
    <span
      [class.completed]="task.completed"
      (click)="toggleTask(task)"
      class="text-sm font-light text-dark dark:text-white break-words w-full max-w-[calc(100%-30px)] flex justify-between"
    >
      <div>{{ task.title }}</div>
      <div class="text-xs text-white-800 ml-2">
        {{ task.createdAt | date : "dd/hh:mm:ss" }}
      </div>
    </span>
    <div class="flex items-center">
      <button
        (click)="toggleTask(task)"
        class="text-xl p-1 hover:scale-125 duration-200 cursor-pointer mr-2"
        [class.text-green-500]="task.completed"
      >
        {{ task.completed ? "✓" : "□" }}
      </button>
      <button
        (click)="deleteTask(task.id)"
        (click)="showToastError()"
        class="bg-red-700 text-white hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
      >
        ❌
      </button>
    </div>
  </li>
</ul>

<ng-template #noTasks>
  <p class="text-dark dark:text-white text-sm">Nothing here...</p>
</ng-template>
</div>

<div class="w-full max-w-4xl mx-auto p-6">
<div
class="container bg-white border border-gray-200 shadow-sm dark:bg-gray-800 dark:border-gray-700 p-10"
>
<div class="search">
  <input
    type="text"
    placeholder="Search..."
    [formControl]="searchControl"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/4 p-2.5 mr-2 mb-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />

  <p
    *ngIf="filteredTasks.length === 0 && searchControl.value.trim() !== ''"
  >
    No hay resultados
  </p>

  <li
    *ngFor="let task of filteredTasks"
    class="flex items-center justify-between p-3 text-base font-bold text-black-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white"
  >
    <span>{{ task.title }}</span>
  </li>
</div>
</div>
</div>